# Виключаємо кеш-директорії Python
__pycache__/

# Виключаємо директорію .git
.git/

# Виключаємо файл .env
.env

# Виключаємо віртуальне середовище
venv/

# Виключаємо логи
*.log

# Виключаємо тимчасові файли
tmp/

# Виключаємо конфігураційні файли IDE
.idea/

# Виключаємо скомпільовані Python-файли
*.pyc