# FastAPI Framework
fastapi~=0.115.11
uvicorn~=0.22.0
starlette~=0.46.1

# Database
sqlalchemy~=2.0.39
psycopg2-binary

# Security
python-jose~=3.4.0
passlib~=1.7.4
bcrypt

# Validation
pydantic[email]~=2.10.6

# File and Environment Management
python-multipart
cloudinary~=1.43.0
python-dotenv~=1.0.1

# Rate Limiting
slowapi~=0.1.9

phonenumbers
