# Файл .dockerignore використовується для виключення певних файлів і директорій 
# з контексту побудови Docker-образу. Це допомагає зменшити розмір контексту 
# і уникнути включення непотрібних файлів у Docker-образ.

# Виключаємо кеш-директорії Python, які створюються автоматично.
__pycache__/

# Виключаємо директорію .git, яка містить дані системи контролю версій Git.
.git/

# Виключаємо файл .env, який зазвичай містить конфіденційні змінні середовища.
.env

# Виключаємо директорію venv, яка містить віртуальне середовище Python.
venv/

# Виключаємо всі файли з розширенням .log, які зазвичай є логами.
*.log

# Виключаємо тимчасові файли та директорії.
tmp/

# Виключаємо конфігураційні файли IDE PyCharm.
.idea/

# Виключаємо всі файли з розширенням .pyc, які є скомпільованими Python-файлами.
*.pyc


